@import "src/styles/variables.module";

.Dropdown {

  &Label {
    @include input-label;

    &Required {
      @include input-label-required;
    }
  }

  &Select {
    border: 2px solid var(--color-border);
    border-radius: 5px;
    padding: 12px 8px;
    width: 100%;

    &Option {
      @include font-sm;
      align-items: center;
      display: flex;
      font-family: var(--font-family);
      height: 32px;
      vertical-align: bottom;
    }
  }
}
