.Container {
  background-color: #ffffff;
  min-height: 100%;
}
.imageContainer {
  background-color: #ffffff;
  height: 376px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.textContainer {
  background-color: #ffffff;
  padding: 24px;
  text-align: center;
  color: #22172A;
  &header {
    font-weight: bold;
  }
  &text {
    margin: 0;
    opacity: 0.7;
  }
}
.buttonContainer {
  background-color: #ffffff;
  padding: 24px;
  text-align: center;
  &button {
    width: 100%;
    margin-bottom: 16px;
  }
  &buttonNext {
    background-color: rgb(245, 248, 249);
    width: 100%;
    color: rgb(99, 131, 123);
    border: none;
  }
}
.LoginContainer {
  background-color: #ffffff;
  display: grid;
  align-items: center;
  flex-direction: column;
  &text {
    text-align: center;
  }
}

.loginLink {
  background-color: #ffffff;
  padding: 24px;
  text-align: center;
}
