@import "src/styles/variables.module";

.FormularStepper {
  display: flex;
  flex-flow: column nowrap;

  &Form {
    flex: 1 1 auto;
  }

  &Controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 8px 0;

    & > * {
      margin: 0 4px;
    }
  }
}

.FormularStep,
.FormularData {
  display: none;
  flex-flow: column nowrap;
  flex: 1 1 auto;

  &.isActive {
    display: flex;
  }
}

.FormularData {
  padding: 16px;
  position: relative;

  &Table {
    @include font-sm;
    border-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
    width: 100%;

    &Row {
      display: flex;
      flex-flow: column nowrap;
      margin-bottom: 16px;
    }

    &Key {
      font-weight: 700;
      &::after {
        content: ':';
      }
    }

    &Value {
      &:empty::before {
        content: '-';
      }
    }
  }
}

.FormularStep {
  &Title {
    margin: 0;
    padding: 16px;
  }

  &Children {
    overflow: hidden auto;
    padding: 16px;

    & > *:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}
