@import "src/styles/variables.module";

.FormularStepper {
  display: flex;
  flex-flow: column nowrap;

  &Form {
    flex: 1 1 auto;
  }

  &Progress {
    align-items: flex-end;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 24px;

    &Counter {
      font-weight: 700;
      font-size: 20px;

      &Current {
        color: var(--color-primary-darker);
      }
      &Total {
        color: var(--color-primary-darker-transparent);
      }
    }

    &Controls {
      align-items: flex-end;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;

      & > * {
        margin: 0 4px;
      }

      &Icon {
        height: 24px;
        width: 24px;
      }
    }

    &Bar {
      margin-top: 16px;
      width: 100%;
    }
  }
}

.FormularStep,
.FormularData {
  display: none;
  flex-flow: column nowrap;
  flex: 1 1 auto;

  &.isActive {
    display: flex;
  }
}

.FormularData {
  padding: 16px;
  position: relative;

  &Table {
    @include font-sm;
    border-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
    width: 100%;

    &Row {
      display: flex;
      flex-flow: column nowrap;
      margin-bottom: 16px;
    }

    &Key {
      font-weight: 700;
      &::after {
        content: ':';
      }
    }

    &Value {
      &:empty::before {
        content: '-';
      }
    }
  }
}

.FormularStep {
  &Title {
    margin: 0;
    padding: 16px;
  }

  &Children {
    overflow: hidden auto;
    padding: 16px;

    & > *:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}
