.imageContainer{
    align-items: 'center';
    justify-self: 'center';
    display: 'flex';
    margin: 10%;
    &image{
        width: 300px;
        height: 300px;
    }
}
.textContainer{
    text-align: center;
    &header{
        font-weight: bold;
        color: rgb(99,131,123);
    }
}
.buttonContainer{
    text-align: center;
}
.LoginContainer{
    align-items: center;
    &text{
        text-align: center;
    }
}