@import "src/styles/variables.module";

.Button {
  @include font-md();
  background-color:  rgb(99, 131, 123);
  //border: 2px solid var(--color-button-bg);
  border-radius: 50px;
  color: var(--color-button-text);
  height: 50px;
  padding: 0 16px;
  min-width: 200px;
  //cursor: pointer;
  //transition: var(--transition);

  p {
    margin: 0px;
  }

  &:disabled {
    opacity: 0.36;
  }

  &:enabled:hover {
    background-color: transparent;
    color: var(--color-button-bg);
  }

  &.outlined {
    background-color: transparent;
    color: var(--color-button-bg);

    &:enabled:hover {
      opacity: 0.5;
    }
  }
}
