@import "src/styles/variables.module";

.Button {
  @include font-md();
  background-color: var(--color-button-bg);
  border: none;
  border-radius: 5px;
  color: var(--color-button-text);
  height: 48px;
  padding: 0 16px;
  min-width: 96px;
  cursor: pointer;

  &:disabled {
    opacity: 0.36;
  }

  &.outlined {
    background-color: transparent;
    border: 2px solid var(--color-button-bg);
    color: var(--color-button-bg);
  }
}
