@import "src/styles/variables.module";

.Textarea {
  &Label {
    @include input-label;

    &Required {
      font-weight: 700;
      color: var(--color-required);
    }
  }

  &Input {
    @include font-sm;
    font-family: var(--font-family);
    width: 100%;
    border: 2px solid var(--color-border);
    padding: 12px 8px;
    border-radius: 5px;
    display: block;
    resize: none;

    &.resizable {
      resize: vertical;
    }
  }
}
