@import "src/styles/variables.module";

.Search {
    @include dashboard-container;
    &Bar {
        padding: 10px 0px;
    }
    &Results {
       max-width: 66.6666%;
       margin: 0px auto;
       display: grid;
       grid-template-columns: repeat(1, 1fr);
       gap: 20px;

       @media (max-width: 768px) {
        max-width: 100%;
       }
       
    }
    &Loading {
        animation: loading 0.7s ease-in-out infinite alternate;
        height: calc(100vh - 2*var(--header-height));
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
    }


}

@keyframes loading {
    0% {
        background-color: hsl(200, 0%, 70%);
        
    }
    100% {
        background-color: hsl(200, 0%, 95%);
    }
}
