@import "src/styles/variables.module";

.Search {
    @include dashboard-container;

    &Results {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    margin-left: -0.4rem;
    }
    &Loading {
        animation: loading 0.7s ease-in-out infinite alternate;
        height: calc(100vh - 4*var(--header-height));
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
    }
    &Headers {
       display: flex;
       align-items: flex-end;
       justify-content: space-between;
        &HeadlineH1 {
            margin: 0px;
            display: inline;
            color: var(--color-black);
        }
        margin-bottom: 24px;
       button {
        margin-left: 12px;
       }
       &Button {
        box-shadow: none;
        border: 2px solid rgba($color: #63837B, $alpha: 0.2) !important;
        img {
            height: 45%;
        }
       }
    }
    
}

@keyframes loading {
    0% {
        background-color: hsl(200, 0%, 70%);
        
    }
    100% {
        background-color: hsl(200, 0%, 95%);
    }
}
