@import "src/styles/variables.module";

.Search {
    @include dashboard-container;

    &Results {
    display: flex;
    grid-template-columns: repeat(50, 4fr);
    overflow: auto;
    white-space: nowrap;
    margin-left: -0.4rem;
    margin-bottom: 24px;
    }
    &Loading {
        animation: loading 0.7s ease-in-out infinite alternate;
        height: calc(100vh - 4*var(--header-height));
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
    }
    &Headers {
       display: flex;
       align-items: flex-end;
       justify-content: space-between;
        &HeadlineH1 {
            margin: 0px;
            display: inline;
            color: var(--color-black);
        }
        &HeadlineH2 {
            font-size: 20px;
            color: var(--color-black);
            margin-bottom: 16px;
        }
        margin-bottom: 24px;
       button {
        margin-left: 12px;
       }
       &Button {
        box-shadow: none;
        border: 2px solid rgba($color: #63837B, $alpha: 0.2) !important;
        img {
            height: 45%;
        }
       }
    }

    &Map {
        width: 100%;
        img {
            height: 420px;
            border-radius: 20px;
            width: inherit;
            object-fit: cover;
            object-position: center;
            overflow: hidden;
        }
    }

    &Filter {
        padding: 16px 24px;
        display: grid;
        gap: 24px;
        &Headline {
            color: var(--color-black);
            text-align: center;
        }
        &Subtitle {
            color: var(--color-black);
            font-size: 18px;
        }
        &Box {
           display: flex;
          color: var(--color-body-text-secondary);

        }
        &Buttons {
            display: grid;
            gap: 16px;
            grid-template-columns: repeat(2, 1fr);
            justify-content: space-between;
        }
    }

    
}

@keyframes loading {
    0% {
        background-color: hsl(200, 0%, 70%);
        
    }
    100% {
        background-color: hsl(200, 0%, 95%);
    }
}
