.Paragraph {
  &Collapsed {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  &Button {
    position: absolute;
    right: 20px;
    background-color: transparent;
    border: none;
    padding: 0px;
    color: var(--color-primary);
    font-weight: 500;
    font-size: 12px;
    line-height: 135%;
  }
}
