@import "src/styles/variables.module";

.Button {
  @include font-md();
  background-color: rgb(99,131,123);
  //border: 2px solid var(--color-button-bg);
  border-radius: 25px;
  color: var(--color-button-text);
  height: 48px;
  padding: 0 16px;
  min-width: 96px;
  width: 80%;
  margin-top: 5%;
  cursor: pointer;
  transition: var(--transition);

  p {
    margin: 0px;
  }

  &:disabled {
    opacity: 0.36;
  }

  &:enabled:hover {
    background-color: transparent;
    color: var(--color-button-bg);
  }

  &.outlined {
    background-color: transparent;
    color: var(--color-button-bg);

    &:enabled:hover {
      opacity: 0.5;
    }
  }
}
