:root {
  /* Colors from MIRO Wireframes */
  --color-primary: #1A1A1A;
  --color-indigo: #414BB2;
  --color-magenta: #DA0063;
  --color-orange: #F24726;

  --color-error: #AF0000;
  --color-required: #FF0000;

  --color-body-text: rgba(0, 0, 0, 0.9);
  --color-body-bg: #FFFFFF;
  --color-body-bg-darker: #F5F5F5;

  --color-border: rgba(0, 0, 0, 0.2);
  --color-link: var(--color-indigo);


  /* Temporary Colors */
  --color-htw-primary: #76b900;
  --color-dashboard-background: rgba(0,0,0,0.05);

  --color-button-text: #FFFFFF;
  --color-button-bg: var(--color-primary);

}
