@mixin page {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;
  height: 100%;
}

@mixin font-md {
  font-size: var(--font-size-md);
  line-height: var(--font-lineheight-md);
}

@mixin font-sm {
  font-size: var(--font-size-sm);
  line-height: var(--font-lineheight-sm);
}

@mixin input-label {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;

  color: var(--color-primary-darker);
  display: block;
  margin-bottom: 4px;
  padding-left: 8px;
}

@mixin input-label-required {
  font-weight: 700;
  margin-left: 4px;
}

@mixin input-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

@mixin dashboard-container {
  @include font-sm;
  width: 100%;
  padding: 0 10px;
}
