@mixin page {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;
  height: 100%;
}

@mixin font-md {
  font-size: var(--font-size-md);
  line-height: var(--font-lineheight-md);
}

@mixin font-sm {
  font-size: var(--font-size-sm);
  line-height: var(--font-lineheight-sm);
}

@mixin input-label {
  @include font-sm;
  font-weight: 700;
  margin-bottom: 12px;
  color: var(--color-body-text);
  display: block;
}

@mixin input-label-required {
  font-weight: 700;
  color: var(--color-required);
}

@mixin dashboard-container {
  @include font-sm;
  width: 100%;
  padding: 0px 10px;
}
