:root {
  --font-family: 'Open Sans', sans-serif;
  --font-family-headline: 'Open Sans', sans-serif;

  --font-size-lg: 40px;
  --font-lineheight-lg: 40px;
  --font-size-md: 24px;
  --font-lineheight-md: 24px;
}
