@font-face {
  font-family: "HTW Berlin";
  src: url('../fonts/HTW-Berlin/HTWBerlinOffice-Regular.ttf');
}

@font-face {
  font-family: "HTW Berlin Bold";
  src: url('../fonts/HTW-Berlin/HTWBerlinOffice-Bold.ttf');
}

:root {
  --font-family: 'Roboto', sans-serif;
  --font-family-headline: 'Roboto', sans-serif;

  --font-htw-regular: "HTW Berlin";
  --font-htw-bold: "HTW Berlin Bold";

  --font-size-lg: 40px;
  --font-lineheight-lg: 40px;
  --font-size-md: 16px;
  --font-lineheight-md: 20px;
  --font-size-sm: 14px;
  --font-lineheight-sm: 18px;
}
