.Container {
  background-color: rgb(152, 200, 188);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  background-image: url('../../../images/icons/ui/SplashScreenBubble.png');
  background-size: cover;
  background-position: center;
  &upperDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    &img {
      margin: 10px;
    }
    &header {
      font-size: 50px;
      margin: 15px;
      color: white;
    }
  }
  &Description {
    color: white;
    text-align: center;
    margin: 40px;
    opacity: 0.8;
  }
}
.buttonContainer {
  text-align: center;
  padding: 24px;
  width: 100%;
  &button {
    width: 100%;
    background-color: rgb(245, 249, 248);
    color: rgb(99, 131, 123);
    border: none;
    &:hover {
      background-color: rgb(245, 249, 248) !important;
    }
  }
  &dropdown {
    margin-top: 24px;
    width: 100%;
    & > * {
      width: 100%;
    }
  }
}
.LoginContainer {
  &text {
    color: white !important;
    text-decoration: underline;
    margin-top: 8px;
  }
}
.FadeIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  &FadeInAnimation {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
}
.fade-in {
  opacity: 1;
}
