@import "src/styles/variables.module";

.FileInput {
  &Label {
    @include input-label;

    &Required {
      @include input-label-required;
    }
  }
  &Preview {
    align-items: center;
    background-color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;

    &Image {
      height: auto;
      width: 100%;
      max-width: 104px;
    }
  }
  &Input {
    display: none;
  }
}
