.Navigation {
  z-index: 99;
  background-color: white;
  height:  var(--header-height);
  width: 100%;
  position: fixed;
  bottom: 0;
  padding-top: 5px;
  border-top: 2px var(--color-border) solid;
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

}

.Link {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(0,0,0,0.5);
  text-decoration: inherit;
  text-transform: capitalize;
  font-size: 16px;
  
  img {
    height: auto;
    width: 28px;
    margin-bottom: 3px;
    filter: opacity(20%);
   }
}
.ActiveLink {
  color: var(--color-primary);
  font-weight: 700;
 img {
 /*  filter: invert(70%) sepia(42%) saturate(5629%) hue-rotate(44deg) brightness(99%) contrast(101%); */
 filter: invert(7%) sepia(1%) saturate(282%) hue-rotate(314deg) brightness(106%) contrast(94%);
 }
}