.Navigation {
  background-color: white;
  width: 100vw;
  height: 10%;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  filter: drop-shadow(-4px -4px 20px rgba(208, 218, 215, 0.4));
  box-shadow: var(--box-shadow-button);
  margin-top: auto;
  ul {
/*  display: grid;
    grid-template-columns: repeat(4, 1fr); */
    display: flex;
    height: 100%;
    justify-content: space-between;
    list-style-type: none;
    list-style: none;
    padding: 20px 30px;
    margin: 0;
  }
  li {
    display: flex;


  }

}
.Link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    height: 36px;
    filter: invert(88%) sepia(14%) saturate(155%) hue-rotate(114deg) brightness(83%) contrast(97%);
    filter: opacity(60%);
   }
}
.ActiveLink {
 img {
 filter: unset;
 }
}

.Badge {
  position: absolute;
  top: 1px;
  background-color: var(--color-primary);
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: 600;
}