.Navigation {
  background-color: white;
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px var(--color-border) solid;
  img {
    box-sizing: border-box;
    max-width: 40%;
    max-height:40%;
    padding: 3%;
  }
}