@import "src/styles/variables.module";

.Profile {
  display: grid;
  align-items: center;
  padding: 16px;
  gap: 24px;
  width: 100%;
  background-color: var(--color-white-transparent);
  &Header {
    position: relative;
    button {
        position: absolute;
    }
}

   &Picture {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    img {
      height: 216px;
      border-radius: 24px;
    }
    &Button {
      padding-left: 10px;
      display: flex;
      align-items: center;
      font-weight: normal;
      font-size: 14px;
      box-shadow: none;
      position: absolute;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(50px);
      border: none;
      bottom: 5px;
      height: 36px;
      &Input {
       display: none;
      }
      label {
        height: 100%;
        color: var(--color-white) !important; 
        img {
          height: 100%;
        }
      }
    }
  }
  label {
    color: var(--color-black);
  }
}
