@import "src/styles/variables.module";

.ResultCard {
    overflow: hidden;
    background-color: var(--color-body-bg);
    border-radius: 10px;
    filter: drop-shadow(2px 2px 4px var(--color-border));
    display: grid;
    column-gap: 20px;
    row-gap: 6px;
    border: var(--color-primary-darker-transparent) 1px solid;
    padding: 20px;
    
    &Essentials {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 2fr;
        &ImageScore {
            position: relative;
            width: 100%;
            span {
                position: absolute;
                bottom: -5px;
                right: -5px;
                border-radius: 50px;
                padding: 3px 6px;

                color: var(--color-white);
                background-color: var(--color-primary-darker);
            }
            img {          
                width: 100%;
                border-radius: 100%;
            }
        }
      
        p {
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
    &Additional {
        display: grid;
        column-gap: 20px;
        grid-template-columns: 1fr 2fr;
        p {
            width: 100%;
            text-align: end;
            margin-bottom: 0.5rem;
        }
        img {
            max-height: 50%;
            opacity: .3;
        }
    }
   
    &Tag {
        padding: 0px 16px;
        border-radius: 50px;
        margin-left: 8px;
        font-weight: bold;
        color: rgba($color: #000000, $alpha: 0.2);
        border: solid rgba($color: #000000, $alpha: 0.2) 2px;
        &Active {
           opacity: 0.8;
            color: var(--color-primary-darker);
            border: solid var(--color-primary-darker) 2px;
        }
    }

    &Arrow {
        position: absolute;
    }

    @media (min-width: 768px) {
        &Essentials {
            grid-template-columns: 150px 2fr;
            img {
                height: 150px;
                width: 150px;
            }
        }
       
    }
}