@import "src/styles/variables.module";

.LoginPage {
  @include page;
  align-items: center;
  background-color: var(--color-body-bg-darker);
  flex-flow: column nowrap;
  justify-content: center;
  overflow: hidden auto;
  padding: 8px;

  &Container {
    background-color: var(--color-body-bg);
    border: 2px solid var(--color-border);
    border-radius: 5px;
    padding: 16px;
    max-width: 512px;
    width: 100%;
  }

  &Headline {
    margin: 0 0 24px;
  }

  &Form {
    &Buttons {
      align-items: center;
      display: flex;
      justify-content: center;

      & > *:not(:last-child) {
        margin-right: 16px;
      }
    }

    &Link {
      @include font-sm;
    }

    & > *:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
