@import "src/styles/variables.module";

.Account {
  @include dashboard-container;
  background-color: var(--color-white) !important;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  &Delete {
    color: var(--color-red) !important;
  }
  &Section {
    display: grid;
    gap: 16px;
}
  &Header {
    height: 50px;
    position: relative;
    button {
      position: absolute;
    }
  }
}
