@import "src/styles/variables.module";

.Textfield {
  &Label {
    @include input-label;

    &Required {
      @include input-label-required;
    }
  }

  &Input {
    @include input-text;
    border: 1.5px solid transparent;
    border-radius: 16px;
    box-shadow: var(--box-shadow-input);
    display: block;
    height: 56px;
    padding: 16px;
    width: 100%;

    &:focus {
      border-color: var(--color-primary);
    }
  }
}
