@import "src/styles/variables.module";

.Textfield {
  &Label {
    @include input-label;

    &Required {
      @include input-label-required;
    }
  }

  &Input {
    @include font-sm;
    width: 100%;
    border: 2px solid var(--color-border);
    padding: 12px 8px;
    border-radius: 5px;
    display: block;

    &.invalid {
      color: var(--color-error);
      border-color: currentColor;
    }
  }
}
