@import "src/styles/variables.module";

.LandingPage {
    flex: 1;
    justify-content: center;
    padding: 16px;

    &Buttons {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
    }

    &Button {
        @include input-text;
        align-items: center;
        display: flex;
        background-color: var(--color-white);
        border-radius: 16px;
        box-shadow: var(--color-body-text);
        color: var(--color-font);
        flex-flow: column nowrap;
        justify-content: center;
        min-height: 128px;
        padding: 14px;
        margin-bottom: 20px;
        width: 100%;

        &:active,
        &:focus {
            color: currentColor;
            text-decoration: none;
        }

        img {
            margin-bottom: 8px;
        }
    }

    &Link {
        @include font-md;
        display: inline-block;
        border-bottom: 1px solid currentColor;
        text-decoration: none;
        padding: 4px 0;
        margin-top: 16px;
        transition: var(--transition);

        &:hover {
            opacity: 0.5;
            text-decoration: none;
        }
    }
}
