@import url('normalize.css');
@import "styles/variables.module";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: var(--color-body-bg);
  color: var(--color-body-text);
  font-family: var(--font-family);
  margin: 0;
}

#root {
  display: flex;
  flex-flow: column nowrap;
}

a {
  color: var(--color-link);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  @include font-sm;
}
