@import "src/styles/variables.module";

.ActiveChat {

  &Date{
    text-align: center;
    color: #E4EFEC;
    opacity: 0.5;
    font-size: 14px;
    margin: 0 0 20px 0;
  }

  &Bubble{
    display: flex;
  }

  &Message{
    align-content: center;
    vertical-align: middle;
    word-break: break-all;
    white-space: normal;
    padding: 12px 20px 12px 24px;
    max-width: 100%;
    margin: 10px 0;
  }

  &Background{
    width: 100%;
    height: 100%;
    background-color: #63837B;
    color: white;
    display: flex;
    flex-direction: column;
  }

  &BackgroundFlow{
    flex: 1;
    padding: 0 24px 24px 24px;
    overflow-y: scroll;
  }

  &Padding{
    padding: 0 24px 24px 24px;
  }

  &ModelBody {

      display: flex;
      align-items: center;
      padding: 5px;

      &SvgStyle{
        width: 25px;
      }

      &Delivered{
        margin-left: auto;
      }


    &Box {
      display: flex;
      align-items: center;
      padding: 5px;
      border-top: 1px solid rgba(34, 23, 42, 0.08);

    }

  }

}
