@import "src/styles/variables.module";

.Messages {
  //@include dashboard-container;
  background-color: rgb(99, 131, 123);
  &ProfilePictures {
    border-radius: 15px;
    height: 50px;
    width: 50px;
    margin-top: 1%;
    margin-bottom: 4%;
    margin-right: 2%;
    margin-left: 1%;

    &MsgGroup {
      border-radius: 50%;
      height: 50px;
      width: 50px;
      margin-top: 1%;
      margin-bottom: 4%;
      margin-right: 2%;
      margin-left: 1%;
    }
}
  &ContainerContacts {
    display: flex;
    background-color: rgba(110, 135, 129, 0.768);
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 5%;
    &Images {
      width: 50px;
      height: 50px;
    }
  }
  &ContainerMessages {
    background-color: white;
    border: 0.5px solid black;
    border-radius: 25px;
    overflow: auto;
    white-space: nowrap;
    height: 600px;

    &Messages {
      margin: 1.5%;
      background-color: rgba(211, 202, 202, 0.638);
      border-radius: 15px;
    }
    &Text {
      &Name {
        font-weight: bold;
        font-size: 20px;
      }
      &Message {
        margin-left: 5%;
      }
      &Date {
        color: #00000076;
        align-items: right;
      }
    }
  
  }
  &Header {
    padding: 2%;
    text-align: center;
    color: white;
  }
  &Subheader{
    color: white;
  }
}
