.ProgressIndicator {
  background-color: var(--color-primary-darker-transparent);
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-flow: row nowrap;
  height: 4px;
  justify-content: stretch;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;

  &Bar {
    background-color: var(--color-primary);
    border-radius: 4px;
    height: 100%;
  }
}
